
        p {
            color: white;
            font-size: 15px;
            font-family: 'Overlock', cursive;
            text-align: justify;
        
        }
        h2, h1
        {
        font-family: 'Philosopher', sans-serif; 
        color: white;
        }
        
        h2{
            font-size: 30px
        }
        
        a
        {
            font-family: 'Philosopher', sans-serif;
            color: white;
        }
        
        
        .imgicons
        {
            height: 25px;
            width: 25px;
        }
        
        .logofooter
        {
            height: 250px;
            width: 250px;
        }
        
        .footer
        {
            background: #96aecb;
            color: white;
            height: 445px;
            position: relative;
            padding-left: 40px;
        } 
        
        .footer .footer-bottom {
            background-color: #00022a;
            color: white;
            height: 40px;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0px;
            left: 0px;
            padding-top: 20px; 
        }
        
        .footer .footer-content{
            height: 380px;
            display: flex;
        }
        
        .footer .footer-content h1,.footer .footer-content h2{
            color: white;
        
        }
        
        .footer .footer-content .about h1 span{
            color: #020887;
            
        }
        
        .footer .footer-content .about .contact span{
            display: block;
            font-size: 13px;
            margin-bottom: 8px;
            margin-left: 20px
            
        }
        
        .footer .footer-content .about .socials a{
            width: 50px;
            height: 36px;
            padding-top: 5px;
            margin-right: 20px;
            text-align: center;
            display: inline-block;
            font-size: 1.3em;
            border-radius: 5px;
            
            
        }
        
        .footer .footer-content .about .socials a:hover{
            border: 1px solid white;
            color: white;
            transition: all .3s;
            
        }
        .footer .footer-content .footer-section{
            flex: 1;
            padding: 25px;
            
        }
        
        .footer .footer-content .links ul a {
            display: block;
            margin-bottom: 10px;
            font-size: 1.2em;
            
        }
        
        .footer .footer-content .links ul a:hover {
            color: #020887;
            margin-left: 15px;
            transition: all .3s;
        }
        
        .footer .footer-content .contact-form {
            text-align: left;
            padding-top: 70px
            
        }
        
        .page-wrapper {
            min-height: 100%
        }
        
        html,
        body {
            height: 100%;
        }