<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overlock&family=Philosopher&display=swap" rel="stylesheet">

<div class="page">
<!--MENU-->
<nav>
    <ul class="menu">
        <li class="logo"><img src="../assets/logo.png" width="220px"></li>
        <li class="select"><a href="#aboutus" style="padding-right: 65px;">About Us</a></li>
        <li class="select"><a href="#reservations">Reservations</a></li>
        <li class="select"><a href="#accomodations">Accomodations</a></li>
        <li class="select"><a href="#home">Home</a></li>
    </ul>
</nav>

<!--MAIN PIC-->
<span id="home">
<div class="mainpic"></div>
</span>
    <br>
    <!--Accomodations-->
    <span id="accomodations">
        <app-accomodations></app-accomodations>
    </span>

    <!--Reservation-->
    <span id="reservations"> 
        <app-reservation></app-reservation>
    </span>

    <br>
</div>

 <!--Footer-->
 <div class="footer">
    <div class="footer-content">
        <!--About-->
        <div class="footer-section about">
            <h1 class="logo-text"><span>HODELPA</span> Garden Court</h1>
            <p>An experience you will never forget, 
                allowing you to keep the most wonderful memories. With
                the most beautiful view at hand, you can enjoy the 
                caribbean beauty with a piña colada in your hand and 
                your family members around you</p>
            <div class="contact">
                <a href="#"><span><img class="imgicons" src="https://img.icons8.com/small/64/000000/whatsapp.png"> &nbsp; 809-664-7000</span></a>
                <a href="#"><span><img class="imgicons" src="https://img.icons8.com/small/32/000000/address-book.png">&nbsp; 809-583-6666</span></a>
                <a href="#"><span><img  class="imgicons"src="https://img.icons8.com/fluency-systems-regular/48/000000/phone.png"/>&nbsp; 809-612-7000</span></a>
                <a href="#"><span><img  class="imgicons"src="https://img.icons8.com/material-outlined/48/000000/marker.png"/>KM 9 Duarte Canabacoa Highway, Santiago, Dominican Republic</span></a>
            </div>
        
        <!--Socials-->
            <div class="socials">
                <a href="https://www.facebook.com/hodelpahotels/"><img  class="imgicons"src="https://img.icons8.com/small/64/000000/facebook.png"/></a>
                <a href="https://www.instagram.com/hodelpahotels/"><img  class="imgicons"src="https://img.icons8.com/small/64/000000/instagram-new.png"/></a>
                <a href="https://www.youtube.com/channel/UClGm8DA9_I540In-i7JVlPg"><img  class="imgicons"src="https://img.icons8.com/small/64/000000/youtube--v1.png"/></a>
                <a href="https://www.linkedin.com/company/hodelpa-hotels-&-resorts"><img  class="imgicons"src="https://img.icons8.com/material-outlined/48/000000/linkedin--v1.png"></a>
            </div>
        </div>
        
        <div class="footer-section links"><h2>Quick Links</h2>
        <ul>
            <a href="#"><li>Event Contact</li></a>
            <a href="#"><li>Terms and Conditions</li></a>
            <a href="#"><li>Job Applications</li></a>
            <a href="#"><li>Gallery</li></a>
            <a href="#"><li>Map</li></a>
        </ul></div>
    
        <!--Logo-->
        <div class="footer-section contact-form">
        <img class="logofooter" src="https://www.hodelpa.com/media/tjchymdk/hodelpa-hotels_footer-logo.svg">
        </div>
    </div>
    
    <div class="footer-bottom">
        &copy; hodelpa.com | A beautiful experience
        <br>
        <a> icons by </a><a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
</div> 

    
                

        
=======
</div>