<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overlock&family=Philosopher&display=swap" rel="stylesheet">

<!--MENU-->
<nav>
    <ul class="menu">
        <li class="logo"><img src="../assets/logo.png" width="210px"></li>
        <li class="select"><a href="#reservation" style="padding-right: 65px;">Reservations</a></li>
        <li class="select"><a href="#discography">Info</a></li>
        <li class="select"><a href="#home">Home</a></li>
    </ul>
</nav>

<!--MAIN PIC-->
<span id="home">
<div class="mainpic"></div>
</span>
    <br>
    <br>
    <br>

    <!--Reservation-->
    <span id="reservation"> 
        <app-reservation></app-reservation>
    </span>
    <br>