<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overlock&family=Philosopher&display=swap" rel="stylesheet">

<div class="page">
<!--MENU-->
<nav>
    <ul class="menu">
        <li class="logo"><img src="../assets/logo.png" width="220px"></li>
        <li class="select"><a href="#aboutus" style="padding-right: 65px;">About Us</a></li>
        <li class="select"><a href="#reservations">Reservations</a></li>
        <li class="select"><a href="#services">Services</a></li>
        <li class="select"><a href="#accomodations">Accomodations</a></li>
        <li class="select"><a href="#home">Home</a></li>
    </ul>
</nav>

<!--MAIN PIC-->
<span id="home">
<div class="mainpic"></div>
</span>
    <br>
    <!--Accomodations-->
    <span id="accomodations">
        <app-accomodations></app-accomodations>
    </span>

    <!--Reservation-->
    <span id="reservations"> 
        <app-reservation></app-reservation>
    </span>

    <br>
    <!--Footer-->
    <span id="aboutus"> 
        <app-footer></app-footer>
    </span>
</div>


    
                
