<div>
    <br>
    <h2>Accomodations</h2>
    <br>
    <table>
        <tr class="room-name">
            <td><h3>Executive Superior</h3></td>
            <td><h3>Junior Suite</h3></td>
        </tr>
        <tr class="info">
            <td><p>Modern spacious room thought for business guests. You will be able to choose from a mountain view or hotel garden view. 
                You can choose between a King size bed or two queen beds. The room is air conditioned with a shower and bathtub. 
                The room can fit a total of 4 people and it can also be connected to other rooms.</p></td>
            <td><p>The ideal balance of comfort and functionality, tailored to modern life. The Junior Suite contains a King size bed that will 
                provide the rest and comfort you deserve and it comes with a sofa bed. Choose between a stunning mountain, garden, or 
                pool view. The room can fit a total of 4 people, is air conditioned, and has many other amenities perfect for all our guests’ needs.</p></td>
        </tr>
    </table>
    <br>
    <table>
        <tr class="room-name">
            <td><h3>Royal Junior Suite</h3></td>
            <td><h3>Junior Suite Presidencial Royal</h3></td>
        </tr>
        <tr class="info">
            <td><p>With this royal suite, you will be able to relax and take in the scenery. This room contains a comfy King size bed and premium amenities, 
                and you will get to choose between a mountain or pool view. The room can fit up to 4 people, is air conditioned, and contains a neck 
                and foot massager, a recliner, turndown service, among many other services.</p></td>
            <td><p>Elegance and comfort go hand in hand in this beautiful room. It has a private kitchenette, dining room, and spacious living room for 
                you to enjoy and relax during your stay. This room is perfect for families and everyone who appreciates luxury and comfort. With one 
                king bed the room can fit a total of 4 people. There is a hair dryer, iron board, slippers, and other amenities provided by the hotel.</p></td>
        </tr>
    </table>
    <br>
    <table>
        <tr class="room-name">
            <td><h3>Royal Presidential Suite</h3></td>
        </tr>
        <tr class="info">
            <td><p>Located on the hotel’s top floor, it offers a spacious and exquisite interior as well as premium amenities, ensuring an exceptional stay. 
                The air conditioned room, with a garden view, can fit up to 4 people. With a dining room, a living room, a plasma TV, a foot and neck 
                massager, and many other services, our guests are ensured an extremely relaxing stay.</p></td>
        </tr>
    </table>
    <br>
    <br>
</div>