h2{
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}
form{
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}
input{
    font-family: 'Overlock', cursive;
    font-size: 15px;
}
select{
    font-family: 'Overlock', cursive;
    font-size: 15px;
    background-color:#e9edf9;
    border-radius: 8px;
    border-width: 2px;
    border-color: #38369a91;
    padding: 3px;
}
label{
    font-weight:550;
    font-size: 16px;
}
input{
    background-color:#e9edf9;
    border-radius: 8px;
    border-color: #38369a8a;
    padding: 3px;
}
.rsv{
    border-style:double;
    border-color: #87a1c0;
    border-radius: 50px;
    border-width: 5px;
    background-color: #9eb8d725;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 25px;
}
button{
    font-family: 'Overlock', cursive;
    font-size: 15px;
    border-color: #38369a8c;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#e9edf9;
    border-width: 3px;
    font-size: 17px;
}
.button{
    margin-left: 30px;
    text-align: center;
}
.buttoninfo{
    padding: 10px;
}
.rsvtable{
    padding: 75px;
    margin-left: 100px;
}
img{
    margin-left: 85px;
    width: 650px;
    border-radius: 15px;
}
.date{
    border-color: #38369a81;
    border-style: solid;
    padding: 6px;
    border-radius: 10px;
    border-width: 2px;
    font-size: 16px;
}
button:hover{
    opacity: 65%;
}