
<h2>Make Your Reservation Here!</h2>
<br>
<form>
    <label>First Name: </label>
    <input type="text">
    <br>
    <br>
    <br>
    <label>Last Name: </label>
    <input type="text">
    <br>
    <br>
    <br>
    <label>Bedroom Type: </label>
        <select>
            <option>Executive Superior</option>
            <option>Junior Suite</option>
            <option>Royal Junior Suite</option>
            <option>Junior Suite Presidencial Royal</option>
            <option>Royal Presidential Suite</option>
        </select>
    <br>
    <br>
    <br>
    <label>Number of Travelers: </label>
    <input type="text">
    <br>
    <br>
    <br>
</form>
