button{
    font-family: 'Overlock', cursive;
    font-size: 15px;
    border-color: #38369a8e;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#e9edf9
}